.home-container {
    background-image: url(https://ashisheditz.com/wp-content/uploads/2024/06/frases-chidas-para-una-foto-de-perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#root {
    background-image: url(https://ashisheditz.com/wp-content/uploads/2024/06/frases-chidas-para-una-foto-de-perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
     background-image: url(https://ashisheditz.com/wp-content/uploads/2024/06/frases-chidas-para-una-foto-de-perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
  
.agenda {   
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  transition: all 0.5s ease-in-out; 
  }


.agenda:hover{
   color: rgb(78, 31, 187);
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0fa, 
    0 0 80px #0fa,
    0 0 120px #0fa;

}

.my_contact {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  transition: all 0.5s ease-in-out; 
  
}

.my_contact:hover{
  color: rgb(18, 56, 105);
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(95, 202, 33), 
    0 0 80px rgb(107, 49, 94),
    0 0 120px rgb(125, 190, 64);

}

.contact_home{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(212, 7, 7);
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out; 
  

}

.contact_home:hover{
  color: rgb(230, 226, 9);
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0fa, 
    0 0 80px #0fa,
    0 0 120px #0fa;
}

.create_contact{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(15, 139, 57));
  text-align: center;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;

}

.create_contact:hover{
   color: rgb(42, 46, 45)44);
    text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0fa, 
    0 0 80px #0fa,
    0 0 120px #0fa;

}
